.lista-suspensa {
    margin: 24px 0; /* Magem para cima e para baixo de 24 pixels, e sem margem na esquerda e na direita */
}

.lista-suspensa label {
    display: block; /* Aqui estou informando que a label quebre a linha, e o input seguinte não fique do lado */
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06); /* Aqui estou adicionando um sombreamento */
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box; /* Aqui estou evitando que o css adicione a scroll bar para além da borda */
}